:root {
  --color-primary: #fa6165;
  --color-primary-alt: #fef1f6;
  --color-primary-alt-2: #fb7e82;
  --color-primary-alt-3: #fed3d4;
  --color-secondary: #f9902a;
  --color-secondary-alt: #f78a82;
  --color-secondary-alt-2: #fefcf6;

  // Button
  --color-menu-background--active: var(--color-primary-alt);
  --color-link: var(--color-primary);
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-bg-hover: var(--color-primary-alt-2);
  --color-button-primary-text: var(--color-primary-alt);
  --color-button-primary-hover-text: var(--color-white);
  --color-button-secondary-bg: var(--color-primary-alt);
  --color-button-secondary-text: var(--color-primary);
  --color-button-secondary-bg-hover: var(--color-primary-alt-3);
  --color-button-toggle-text: var(--color-primary);
  --color-button-toggle-bg: var(--color-primary-alt);
  --color-button-toggle-bg-hover: var(--color-primary-alt-3);
  --color-menu-background--selected: var(--color-secondary-alt);

  // Input
  --color-input-toggle: var(--color-primary);
  --color-input-toggle-bg: var(--color-secondary-alt-2);
  --color-input-toggle-bg-hover: var(--color-primary-alt-3);
  //   --color-input-bg-selected: red; //var(--color-secondary-alt);

  // Color
  --color-background: #f9f9f9;
  --color-border: #ededed;
  --color-nag: #fa8700;
  --color-text-selection-bg: var(--color-primary-alt);
  --color-text-selection: var(--color-primary);
  --color-focus: #8dbff0;
}
